.modal-body {
    overflow-wrap: break-word;
}

.modal-header.positive {
    border-bottom-color: green;
}

.modal-header.negative {
    border-bottom-color: red;
}

.modal-body.positive {
    background-color: rgba(0, 255, 0, 0.1);
}

.modal-body.negative {
    background-color: rgba(255, 0, 0, 0.1);
}

.modal-footer.positive {
    border-top-color: green;
}

.modal-footer.negative {
    border-top-color: red;
}