<div class="modal-header {{properties.labelledSentiment}}">
  <h4 class="modal-title pull-left">
    <a href="https://{{properties.source}}.com/{{properties.userName}}" target="_blank">{{properties.userName}}</a>&nbsp;<small>wrote:</small></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body {{properties.labelledSentiment}}">
  {{properties.text}}
</div>
<div class="modal-footer {{properties.labelledSentiment}}">
  <img src="assets/{{properties.source}}.png" />
  <small>{{ postDate | date: 'medium' }}</small>
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
</div>
